<a href="https://colab.research.google.com/github/RareDiseaseData/rd_simulations/blob/main/sirion_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import pandas as pd

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
df = pd.read_excel('/content/drive/MyDrive/sirion_data/sirion_data.xlsx', sheet_name = 'OI data only')
df

,Code,"Author, year",Sex,Male,Female,Unnamed: 5,OI type,marker,Age (Y),n,mean,SD,Original unit,mean.1,SD.1,Common unit
0,306,"Zhang et al, 2022",MF,83,44,NaN,I III IV V,sCTX,14.3 y,127,0.649038,0.420673,ng/ml,0.649038,0.420673,ng/ml
1,306,"Zhang et al, 2022",MF,7,15,NaN,I III IV V,sCTX,38.3,22,0.129808,0.072115,ng/ml,0.129808,0.072115,ng/ml
2,128,"Hryhorovskyi et al., 2015",NR,x,x,NaN,I,sCTX,5-17 y,1,0.688000,NaN,ng/ml,0.688000,NaN,ng/ml
3,128,"Hryhorovskyi et al., 2015",NR,x,x,NaN,III,sCTX,5-17 y,3,0.872000,0.159349,ng/ml,0.872000,0.159349,ng/ml
4,203,"Xu et al., 2019",M,1,0,NaN,XIII,sCTX,15.7,1,0.969000,NaN,ng/ml,0.969000,NaN,ng/ml
5,117,"D’Eufemia., 2014",MF,11,7,NaN,I,sCTX1,4.4,18,6.500000,4.500000,ng/ml,6.500000,4.500000,ng/ml
6,118,"D’Eufemia et al., 2017",MF,5,7,NaN,I,sCTX1,5.3,12,5.220000,3.400000,ng/ml,5.220000,3.400000,ng/ml
7,118,"D’Eufemia et al., 2017",MF,4,2,NaN,I,sCTX1,4.2,6,9.020000,9.020000,ng/ml,9.020000,9.020000,ng/ml
8,30,"Kitaoka et al., 2011",M,1,0,NaN,I,sNTX,7,1,50.500000,NaN,nmolBCE/l,50.500000,NaN,nmolBCE/l
9,30,"Kitaoka et al., 2011",M,1,0,NaN,I,sNTX,4,1,59.000000,NaN,nmolBCE/l,59.000000,NaN,nmolBCE/l
10,30,"Kitaoka et al., 2011",F,0,1,NaN,I,sNTX,10,1,76.500000,NaN,nmolBCE/l,76.500000,NaN,nmolBCE/l
11,30,"Kitaoka et al., 2011",M,1,0,NaN,I,sNTX,12,1,79.000000,NaN,nmolBCE/l,79.000000,NaN,nmolBCE/l
12,30,"Kitaoka et al., 2011",F,0,1,NaN,I,sNTX,4,1,47.200000,NaN,nmolBCE/l,47.200000,NaN,nmolBCE/l
13,30,"Kitaoka et al., 2011",M,1,NaN,NaN,I,sNTX,4,1,38.000000,NaN,nmolBCE/l,38.000000,NaN,nmolBCE/l
14,30,"Kitaoka et al., 2011",F,0,1,NaN,I,sNTX,4,1,58.500000,NaN,nmolBCE/l,58.500000,NaN,nmolBCE/l
15,30,"Kitaoka et al., 2011",M,1,0,NaN,I,sNTX,14,1,80.000000,NaN,nmolBCE/l,80.000000,NaN,nmolBCE/l
16,30,"Kitaoka et al., 2011",F,0,1,NaN,I,sNTX,13,1,36.600000,NaN,nmolBCE/l,36.600000,NaN,nmolBCE/l
17,30,"Kitaoka et al., 2011",M,1,0,NaN,I,sNTX,1,1,66.600000,NaN,nmolBCE/l,66.600000,NaN,nmolBCE/l
18,30,"Kitaoka et al., 2011",MF,7,6,NaN,I & IV,sNTX,6.5,13,60.900000,17.200000,nmolBCE/l,60.900000,17.200000,nmolBCE/l
19,30,"Kitaoka et al., 2011",F,0,1,NaN,IV,sNTX,1,1,47.800000,NaN,nmolBCE/l,47.800000,NaN,nmolBCE/l
20,30,"Kitaoka et al., 2011",M,1,0,NaN,IV,sNTX,6,1,46.500000,NaN,nmolBCE/l,46.500000,NaN,nmolBCE/l
21,30,"Kitaoka et al., 2011",F,0,1,NaN,IV,sNTX,0,1,92.000000,NaN,nmolBCE/l,92.000000,NaN,nmolBCE/l
22,112,"Hoyer-Kuhn et al., 2016",MF,7,3,NaN,"I, IV not specify",sNTX,7,10,85.480000,39.560000,nmolBCE/l,85.480000,39.560000,nmolBCE/l
23,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,-2.228997,NaN,NaN,NaN,NaN,NaN
24,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,-1.470190,NaN,NaN,NaN,NaN,NaN
25,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,-0.995935,NaN,NaN,NaN,NaN,NaN
26,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,-0.569106,NaN,NaN,NaN,NaN,NaN
27,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,0.426829,NaN,NaN,NaN,NaN,NaN
28,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,3.794038,NaN,NaN,NaN,NaN,NaN
29,11,"Pressac et al., 2002",MF,x,x,NaN,"I, III, IV",uCTX,<4,1,5.216802,NaN,NaN,NaN,NaN,NaN
30,63,"Iwamoto et al., 2002",M,1,0,NaN,I,uDPD,58 y,1,7.400000,NaN,nmol/mmol Cr,7.400000,NaN,nmol/mmol Cr
31,69,"Hoyer-Kuhn et al., 2019",MF,7,3,NaN,"I, III",uDPD,8.6,10,48.330000,17.970000,nmol/mmol Cr,48.330000,17.970000,nmol/mmol Cr
32,98,"Zacharin & Kanumakala, 2004",NR,x,x,NaN,mild,uDPD,7.5,18,26.700000,13.500000,nmol/mmol Cr,26.700000,13.500000,nmol/mmol Cr
33,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,43.520763,NaN,ug/g Cr,11.936440,NaN,nmol/mmol Cr
34,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,100.945120,NaN,ug/g Cr,27.686218,NaN,nmol/mmol Cr
35,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,104.084880,NaN,ug/g Cr,28.547360,NaN,nmol/mmol Cr
36,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,105.429436,NaN,ug/g Cr,28.916131,NaN,nmol/mmol Cr
37,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,122.480178,NaN,ug/g Cr,33.592638,NaN,nmol/mmol Cr
38,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,160.164681,NaN,ug/g Cr,43.928367,NaN,nmol/mmol Cr
39,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,170.935904,NaN,ug/g Cr,46.882590,NaN,nmol/mmol Cr
40,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,187.085350,NaN,ug/g Cr,51.311899,NaN,nmol/mmol Cr
41,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,193.815517,NaN,ug/g Cr,53.157782,NaN,nmol/mmol Cr
42,112,"Hoyer-Kuhn et al., 2016",MF,x,x,NaN,"I, IV not specify",uDPD,7,1,211.309519,NaN,ug/g Cr,57.955862,NaN,nmol/mmol Cr
43,202,"Asharani et al., 2012",NR,x,x,NaN,XIII,uDPD,5 y,1,58.660000,NaN,nM/mM,58.660000,NaN,nmol/mmol Cr
44,202,"Asharani et al., 2012",NR,x,x,NaN,XIII,uDPD,1.9 y,1,63.900000,NaN,nM/mM,63.900000,NaN,nmol/mmol Cr
45,206,Zacharin &Bateman 2002,NR,x,x,NaN,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000,nmol/mmol cr,66.200000,6.700000,nmol/mmol Cr
46,38,"Rauch et al., 2002",MF,22,22,NaN,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000,(nmol/mmol),662.000000,291.000000,nmol/mmol Cr
47,39,"Uehara et al., 2017",F,0,1,NaN,Ia,uNTX,42,1,19.300000,NaN,nmol BCE/mmol Cr,19.300000,NaN,nmol/mmol Cr
48,39,"Uehara et al., 2017",F,0,1,NaN,Ia,uNTX,40,1,24.400000,NaN,nmol BCE/mmol Cr,24.400000,NaN,nmol/mmol Cr
49,39,"Uehara et al., 2017",F,0,1,NaN,Ia,uNTX,14,1,32.900000,NaN,nmol BCE/mmol Cr,32.900000,NaN,nmol/mmol Cr
50,63,"Iwamoto et al., 2002",M,1,0,NaN,I,uNTX,58 y,1,42.700000,NaN,nmol/mmol Cr,42.700000,NaN,nmol/mmol Cr

Column selection

In [15]:
df.columns

Index(['Code', 'Author, year', 'Sex', 'Male', 'Female', 'Unnamed: 5',
       'OI type', 'marker', 'Age (Y) ', 'n', 'mean', 'SD', 'Original unit',
       'mean.1', 'SD.1', 'Common unit'],
      dtype='object')

In [84]:
df_sel = df[[
  'Author, year',
  'Male',
  'Female',
  'OI type',
  'marker',
  'Age (Y) ',
  'n',
  'mean.1',
  'SD.1',
]]
df_sel

,"Author, year",Male,Female,OI type,marker,Age (Y),n,mean.1,SD.1
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115
2,"Hryhorovskyi et al., 2015",x,x,I,sCTX,5-17 y,1,0.688000,NaN
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349
4,"Xu et al., 2019",1,0,XIII,sCTX,15.7,1,0.969000,NaN
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000
8,"Kitaoka et al., 2011",1,0,I,sNTX,7,1,50.500000,NaN
9,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,59.000000,NaN
10,"Kitaoka et al., 2011",0,1,I,sNTX,10,1,76.500000,NaN
11,"Kitaoka et al., 2011",1,0,I,sNTX,12,1,79.000000,NaN
12,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,47.200000,NaN
13,"Kitaoka et al., 2011",1,NaN,I,sNTX,4,1,38.000000,NaN
14,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,58.500000,NaN
15,"Kitaoka et al., 2011",1,0,I,sNTX,14,1,80.000000,NaN
16,"Kitaoka et al., 2011",0,1,I,sNTX,13,1,36.600000,NaN
17,"Kitaoka et al., 2011",1,0,I,sNTX,1,1,66.600000,NaN
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000
19,"Kitaoka et al., 2011",0,1,IV,sNTX,1,1,47.800000,NaN
20,"Kitaoka et al., 2011",1,0,IV,sNTX,6,1,46.500000,NaN
21,"Kitaoka et al., 2011",0,1,IV,sNTX,0,1,92.000000,NaN
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000
23,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
24,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
25,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
26,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
27,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
28,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
29,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
30,"Iwamoto et al., 2002",1,0,I,uDPD,58 y,1,7.400000,NaN
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000
33,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,11.936440,NaN
34,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,27.686218,NaN
35,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.547360,NaN
36,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.916131,NaN
37,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,33.592638,NaN
38,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,43.928367,NaN
39,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,46.882590,NaN
40,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,51.311899,NaN
41,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,53.157782,NaN
42,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,57.955862,NaN
43,"Asharani et al., 2012",x,x,XIII,uDPD,5 y,1,58.660000,NaN
44,"Asharani et al., 2012",x,x,XIII,uDPD,1.9 y,1,63.900000,NaN
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000
47,"Uehara et al., 2017",0,1,Ia,uNTX,42,1,19.300000,NaN
48,"Uehara et al., 2017",0,1,Ia,uNTX,40,1,24.400000,NaN
49,"Uehara et al., 2017",0,1,Ia,uNTX,14,1,32.900000,NaN
50,"Iwamoto et al., 2002",1,0,I,uNTX,58 y,1,42.700000,NaN

In [85]:
df_sel.columns = [
  'author',
  'male',
  'female',
  'severity',
  'marker',
  'age',
  'n',
  'mean',
  'sd'
]
df_sel

,author,male,female,severity,marker,age,n,mean,sd
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115
2,"Hryhorovskyi et al., 2015",x,x,I,sCTX,5-17 y,1,0.688000,NaN
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349
4,"Xu et al., 2019",1,0,XIII,sCTX,15.7,1,0.969000,NaN
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000
8,"Kitaoka et al., 2011",1,0,I,sNTX,7,1,50.500000,NaN
9,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,59.000000,NaN
10,"Kitaoka et al., 2011",0,1,I,sNTX,10,1,76.500000,NaN
11,"Kitaoka et al., 2011",1,0,I,sNTX,12,1,79.000000,NaN
12,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,47.200000,NaN
13,"Kitaoka et al., 2011",1,NaN,I,sNTX,4,1,38.000000,NaN
14,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,58.500000,NaN
15,"Kitaoka et al., 2011",1,0,I,sNTX,14,1,80.000000,NaN
16,"Kitaoka et al., 2011",0,1,I,sNTX,13,1,36.600000,NaN
17,"Kitaoka et al., 2011",1,0,I,sNTX,1,1,66.600000,NaN
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000
19,"Kitaoka et al., 2011",0,1,IV,sNTX,1,1,47.800000,NaN
20,"Kitaoka et al., 2011",1,0,IV,sNTX,6,1,46.500000,NaN
21,"Kitaoka et al., 2011",0,1,IV,sNTX,0,1,92.000000,NaN
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000
23,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
24,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
25,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
26,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
27,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
28,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
29,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN
30,"Iwamoto et al., 2002",1,0,I,uDPD,58 y,1,7.400000,NaN
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000
33,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,11.936440,NaN
34,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,27.686218,NaN
35,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.547360,NaN
36,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.916131,NaN
37,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,33.592638,NaN
38,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,43.928367,NaN
39,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,46.882590,NaN
40,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,51.311899,NaN
41,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,53.157782,NaN
42,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,57.955862,NaN
43,"Asharani et al., 2012",x,x,XIII,uDPD,5 y,1,58.660000,NaN
44,"Asharani et al., 2012",x,x,XIII,uDPD,1.9 y,1,63.900000,NaN
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000
47,"Uehara et al., 2017",0,1,Ia,uNTX,42,1,19.300000,NaN
48,"Uehara et al., 2017",0,1,Ia,uNTX,40,1,24.400000,NaN
49,"Uehara et al., 2017",0,1,Ia,uNTX,14,1,32.900000,NaN
50,"Iwamoto et al., 2002",1,0,I,uNTX,58 y,1,42.700000,NaN

In [19]:
df_sel.n

0     127
1      22
2       1
3       3
4       1
5      18
6      12
7       6
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18     13
19      1
20      1
21      1
22     10
23      1
24      1
25      1
26      1
27      1
28      1
29      1
30      1
31     10
32     18
33      1
34      1
35      1
36      1
37      1
38      1
39      1
40      1
41      1
42      1
43      1
44      1
45     18
46     44
47      1
48      1
49      1
50      1
Name: n, dtype: int64

In [21]:
df_sel[df_sel.n > 1]

,author,male,female,severity,marker,age,n,mean,sd,unit
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673,ng/ml
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115,ng/ml
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349,ng/ml
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000,ng/ml
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000,ng/ml
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000,ng/ml
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000,nmolBCE/l
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000,nmolBCE/l
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000,nmol/mmol Cr
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000,nmol/mmol Cr
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000,nmol/mmol Cr
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000,nmol/mmol Cr

In [22]:
import numpy as np

In [35]:
a = [1, 2, 3, 4, 5]

In [36]:
a

[1, 2, 3, 4, 5]

In [45]:
a[0]

1

In [46]:
# Random std [0.008, 0.011]
np.random.uniform(low=5, high=17, size=(1))[0]

7.7220096613376334

In [62]:
np.random.normal(0.649038, 0.420673, 1)[0]

0.8220532157105069

In [55]:
df_sel['value'] = -1
df_sel

<ipython-input-55-4263d76be5b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['value'] = -1

,author,male,female,severity,marker,age,n,mean,sd,unit,value
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673,ng/ml,-1
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115,ng/ml,-1
2,"Hryhorovskyi et al., 2015",x,x,I,sCTX,5-17 y,1,0.688000,NaN,ng/ml,-1
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349,ng/ml,-1
4,"Xu et al., 2019",1,0,XIII,sCTX,15.7,1,0.969000,NaN,ng/ml,-1
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000,ng/ml,-1
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000,ng/ml,-1
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000,ng/ml,-1
8,"Kitaoka et al., 2011",1,0,I,sNTX,7,1,50.500000,NaN,nmolBCE/l,-1
9,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,59.000000,NaN,nmolBCE/l,-1
10,"Kitaoka et al., 2011",0,1,I,sNTX,10,1,76.500000,NaN,nmolBCE/l,-1
11,"Kitaoka et al., 2011",1,0,I,sNTX,12,1,79.000000,NaN,nmolBCE/l,-1
12,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,47.200000,NaN,nmolBCE/l,-1
13,"Kitaoka et al., 2011",1,NaN,I,sNTX,4,1,38.000000,NaN,nmolBCE/l,-1
14,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,58.500000,NaN,nmolBCE/l,-1
15,"Kitaoka et al., 2011",1,0,I,sNTX,14,1,80.000000,NaN,nmolBCE/l,-1
16,"Kitaoka et al., 2011",0,1,I,sNTX,13,1,36.600000,NaN,nmolBCE/l,-1
17,"Kitaoka et al., 2011",1,0,I,sNTX,1,1,66.600000,NaN,nmolBCE/l,-1
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000,nmolBCE/l,-1
19,"Kitaoka et al., 2011",0,1,IV,sNTX,1,1,47.800000,NaN,nmolBCE/l,-1
20,"Kitaoka et al., 2011",1,0,IV,sNTX,6,1,46.500000,NaN,nmolBCE/l,-1
21,"Kitaoka et al., 2011",0,1,IV,sNTX,0,1,92.000000,NaN,nmolBCE/l,-1
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000,nmolBCE/l,-1
23,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
24,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
25,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
26,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
27,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
28,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
29,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1
30,"Iwamoto et al., 2002",1,0,I,uDPD,58 y,1,7.400000,NaN,nmol/mmol Cr,-1
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000,nmol/mmol Cr,-1
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000,nmol/mmol Cr,-1
33,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,11.936440,NaN,nmol/mmol Cr,-1
34,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,27.686218,NaN,nmol/mmol Cr,-1
35,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.547360,NaN,nmol/mmol Cr,-1
36,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.916131,NaN,nmol/mmol Cr,-1
37,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,33.592638,NaN,nmol/mmol Cr,-1
38,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,43.928367,NaN,nmol/mmol Cr,-1
39,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,46.882590,NaN,nmol/mmol Cr,-1
40,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,51.311899,NaN,nmol/mmol Cr,-1
41,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,53.157782,NaN,nmol/mmol Cr,-1
42,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,57.955862,NaN,nmol/mmol Cr,-1
43,"Asharani et al., 2012",x,x,XIII,uDPD,5 y,1,58.660000,NaN,nmol/mmol Cr,-1
44,"Asharani et al., 2012",x,x,XIII,uDPD,1.9 y,1,63.900000,NaN,nmol/mmol Cr,-1
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000,nmol/mmol Cr,-1
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000,nmol/mmol Cr,-1
47,"Uehara et al., 2017",0,1,Ia,uNTX,42,1,19.300000,NaN,nmol/mmol Cr,-1
48,"Uehara et al., 2017",0,1,Ia,uNTX,40,1,24.400000,NaN,nmol/mmol Cr,-1
49,"Uehara et al., 2017",0,1,Ia,uNTX,14,1,32.900000,NaN,nmol/mmol Cr,-1
50,"Iwamoto et al., 2002",1,0,I,uNTX,58 y,1,42.700000,NaN,nmol/mmol Cr,-1

In [58]:
for i, r in df_sel.iterrows(): # iterating rows
  print(i)
  print(r)
  if i == 3:
    break

0
author      Zhang et al, 2022
male                       83
female                     44
severity           I III IV V
marker                   sCTX
age                    14.3 y
n                         127
mean                 0.649038
sd                   0.420673
unit                    ng/ml
value                      -1
Name: 0, dtype: object
1
author      Zhang et al, 2022
male                        7
female                     15
severity           I III IV V
marker                   sCTX
age                      38.3
n                          22
mean                 0.129808
sd                   0.072115
unit                    ng/ml
value                      -1
Name: 1, dtype: object
2
author      Hryhorovskyi et al., 2015
male                                x
female                              x
severity                            I
marker                          sCTX
age                            5-17 y
n                                   1
mean                            0.688
sd                                NaN
unit                            ng/ml
value                              -1
Name: 2, dtype: object
3
author      Hryhorovskyi et al., 2015
male                                x
female                              x
severity                          III
marker                          sCTX
age                            5-17 y
n                                   3
mean                            0.872
sd                           0.159349
unit                            ng/ml
value                              -1
Name: 3, dtype: object

In [71]:
for i, r in df_sel.iterrows(): # iterating rows
  # i: id
  # r: row values
  if r.n > 1:
    df_sel.loc[i, 'value'] = np.random.normal(r['mean'], r['sd'], 1)[0]

df_sel[df_sel.n > 1]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

<ipython-input-71-9ed4ce4eefe1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel.loc[i, 'value'] = np.random.normal(r['mean'], r['sd'], 1)[0]

,author,male,female,severity,marker,age,n,mean,sd,unit,value
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673,ng/ml,0.219523
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115,ng/ml,0.150933
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349,ng/ml,0.774557
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000,ng/ml,7.929045
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000,ng/ml,1.153416
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000,ng/ml,-6.539178
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000,nmolBCE/l,43.898782
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000,nmolBCE/l,2.943821
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000,nmol/mmol Cr,65.394780
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000,nmol/mmol Cr,36.257135
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000,nmol/mmol Cr,64.807500
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000,nmol/mmol Cr,456.714980

In [86]:
df_sel[df_sel.n > 1]

,author,male,female,severity,marker,age,n,mean,sd
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000

In [105]:
np.random.choice([1,2,3,4,5], 1)[0]

2

## Mini example of magic

In [116]:
def simulate_row(r, gender):
  if gender == 'x':  
    new_gender = 'm' if np.random.randint(2, size=1)[0] == 0 else 'f' # male or female
  else:
    new_gender = gender
  new_severity_bag = []
  if 'OI	' in r.severity:
    new_severity = 'not_specified'
  else:
    if 'I' in r.severity:
      new_severity_bag.append('I')
    if 'III' in r.severity:
      new_severity_bag.append('III')
    if 'IV' in r.severity:
      new_severity_bag.append('IV')
    if 'V' in r.severity:
      new_severity_bag.append('V')
    if 'mild' in r.severity:
      new_severity_bag.append('I')
      new_severity_bag.append('III')
      new_severity_bag.append('IV')
      new_severity_bag.append('V')
    new_severity = np.random.choice(new_severity_bag, 1)[0]
  
  new_row = [r['author'], new_gender, new_severity, r.marker, r.age, np.random.normal(r['mean'], r['sd'], 1)[0]]
  return new_row

In [125]:
df_new = []

for i, r in df_sel.iterrows(): # iterating rows
  # i: id
  # r: row values
  if r.n > 1:
    if (r.male == 'x'):
      for j in range(int(r.n)):
        new_row = simulate_row(r, 'x')
        df_new.append(new_row)
      # something?
    else: 
      for j in range(int(r.male)):
        new_row = simulate_row(r, 'm')
        df_new.append(new_row)
      for j in range(int(r.female)):
        new_row = simulate_row(r, 'f')
        df_new.append(new_row)

pd.DataFrame(df_new)

                      0  1    2     3              4           5
0     Zhang et al, 2022  m    V  sCTX         14.3 y    0.506271
1     Zhang et al, 2022  m   IV  sCTX         14.3 y    0.211023
2     Zhang et al, 2022  m   IV  sCTX         14.3 y    0.421614
3     Zhang et al, 2022  m  III  sCTX         14.3 y    0.727865
4     Zhang et al, 2022  m   IV  sCTX         14.3 y    0.404217
..                  ... ..  ...   ...            ...         ...
296  Rauch et al., 2002  f    V  uNTX  1.4 - 17.5 y   340.579985
297  Rauch et al., 2002  f  III  uNTX  1.4 - 17.5 y   939.506478
298  Rauch et al., 2002  f  III  uNTX  1.4 - 17.5 y   703.218792
299  Rauch et al., 2002  f  III  uNTX  1.4 - 17.5 y   385.070960
300  Rauch et al., 2002  f    I  uNTX  1.4 - 17.5 y   386.187929

[301 rows x 6 columns]

# PENDING

# Preprocessing

In [73]:
df_sel.isna().sum()

author       0
male         0
female       1
severity     0
marker       0
age          0
n            0
mean         7
sd          39
unit         7
value        0
dtype: int64

In [76]:
df_sel.loc[df_sel.female.isna(), 'female'] = 0

In [81]:
df_sel

,author,male,female,severity,marker,age,n,mean,sd,unit,value
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673,ng/ml,0.219523
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115,ng/ml,0.150933
2,"Hryhorovskyi et al., 2015",x,x,I,sCTX,5-17 y,1,0.688000,NaN,ng/ml,-1.000000
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349,ng/ml,0.774557
4,"Xu et al., 2019",1,0,XIII,sCTX,15.7,1,0.969000,NaN,ng/ml,-1.000000
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000,ng/ml,7.929045
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000,ng/ml,1.153416
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000,ng/ml,-6.539178
8,"Kitaoka et al., 2011",1,0,I,sNTX,7,1,50.500000,NaN,nmolBCE/l,-1.000000
9,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,59.000000,NaN,nmolBCE/l,-1.000000
10,"Kitaoka et al., 2011",0,1,I,sNTX,10,1,76.500000,NaN,nmolBCE/l,-1.000000
11,"Kitaoka et al., 2011",1,0,I,sNTX,12,1,79.000000,NaN,nmolBCE/l,-1.000000
12,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,47.200000,NaN,nmolBCE/l,-1.000000
13,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,38.000000,NaN,nmolBCE/l,-1.000000
14,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,58.500000,NaN,nmolBCE/l,-1.000000
15,"Kitaoka et al., 2011",1,0,I,sNTX,14,1,80.000000,NaN,nmolBCE/l,-1.000000
16,"Kitaoka et al., 2011",0,1,I,sNTX,13,1,36.600000,NaN,nmolBCE/l,-1.000000
17,"Kitaoka et al., 2011",1,0,I,sNTX,1,1,66.600000,NaN,nmolBCE/l,-1.000000
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000,nmolBCE/l,43.898782
19,"Kitaoka et al., 2011",0,1,IV,sNTX,1,1,47.800000,NaN,nmolBCE/l,-1.000000
20,"Kitaoka et al., 2011",1,0,IV,sNTX,6,1,46.500000,NaN,nmolBCE/l,-1.000000
21,"Kitaoka et al., 2011",0,1,IV,sNTX,0,1,92.000000,NaN,nmolBCE/l,-1.000000
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000,nmolBCE/l,2.943821
23,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
24,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
25,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
26,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
27,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
28,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
29,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
30,"Iwamoto et al., 2002",1,0,I,uDPD,58 y,1,7.400000,NaN,nmol/mmol Cr,-1.000000
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000,nmol/mmol Cr,65.394780
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000,nmol/mmol Cr,36.257135
33,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,11.936440,NaN,nmol/mmol Cr,-1.000000
34,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,27.686218,NaN,nmol/mmol Cr,-1.000000
35,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.547360,NaN,nmol/mmol Cr,-1.000000
36,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.916131,NaN,nmol/mmol Cr,-1.000000
37,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,33.592638,NaN,nmol/mmol Cr,-1.000000
38,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,43.928367,NaN,nmol/mmol Cr,-1.000000
39,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,46.882590,NaN,nmol/mmol Cr,-1.000000
40,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,51.311899,NaN,nmol/mmol Cr,-1.000000
41,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,53.157782,NaN,nmol/mmol Cr,-1.000000
42,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,57.955862,NaN,nmol/mmol Cr,-1.000000
43,"Asharani et al., 2012",x,x,XIII,uDPD,5 y,1,58.660000,NaN,nmol/mmol Cr,-1.000000
44,"Asharani et al., 2012",x,x,XIII,uDPD,1.9 y,1,63.900000,NaN,nmol/mmol Cr,-1.000000
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000,nmol/mmol Cr,64.807500
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000,nmol/mmol Cr,456.714980
47,"Uehara et al., 2017",0,1,Ia,uNTX,42,1,19.300000,NaN,nmol/mmol Cr,-1.000000
48,"Uehara et al., 2017",0,1,Ia,uNTX,40,1,24.400000,NaN,nmol/mmol Cr,-1.000000
49,"Uehara et al., 2017",0,1,Ia,uNTX,14,1,32.900000,NaN,nmol/mmol Cr,-1.000000
50,"Iwamoto et al., 2002",1,0,I,uNTX,58 y,1,42.700000,NaN,nmol/mmol Cr,-1.000000

In [ ]:
# PENDING!!! 
# Filling n = NA with 1
df_sel.loc[df_sel.n.isna(), 'n'] = 1
df_sel.isna().sum()

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

cell      0
age       0
sex       0
ds        0
n         0
method    6
value     0
std_      0
dtype: int64

In [ ]:
# Removing Maroteaux from method
df_sel = df_sel.dropna() # equivalent df_sel.dropna(inplace = True)
df_sel.isna().sum()

cell      0
age       0
sex       0
ds        0
n         0
method    0
value     0
std_      0
dtype: int64

In [ ]:
# Convert disease_severity and method values into integers
df_sel.ds = df_sel.ds.astype(int)
df_sel.method = df_sel.method.astype(int)

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [82]:
df_sel

,author,male,female,severity,marker,age,n,mean,sd,unit,value
0,"Zhang et al, 2022",83,44,I III IV V,sCTX,14.3 y,127,0.649038,0.420673,ng/ml,0.219523
1,"Zhang et al, 2022",7,15,I III IV V,sCTX,38.3,22,0.129808,0.072115,ng/ml,0.150933
2,"Hryhorovskyi et al., 2015",x,x,I,sCTX,5-17 y,1,0.688000,NaN,ng/ml,-1.000000
3,"Hryhorovskyi et al., 2015",x,x,III,sCTX,5-17 y,3,0.872000,0.159349,ng/ml,0.774557
4,"Xu et al., 2019",1,0,XIII,sCTX,15.7,1,0.969000,NaN,ng/ml,-1.000000
5,"D’Eufemia., 2014",11,7,I,sCTX1,4.4,18,6.500000,4.500000,ng/ml,7.929045
6,"D’Eufemia et al., 2017",5,7,I,sCTX1,5.3,12,5.220000,3.400000,ng/ml,1.153416
7,"D’Eufemia et al., 2017",4,2,I,sCTX1,4.2,6,9.020000,9.020000,ng/ml,-6.539178
8,"Kitaoka et al., 2011",1,0,I,sNTX,7,1,50.500000,NaN,nmolBCE/l,-1.000000
9,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,59.000000,NaN,nmolBCE/l,-1.000000
10,"Kitaoka et al., 2011",0,1,I,sNTX,10,1,76.500000,NaN,nmolBCE/l,-1.000000
11,"Kitaoka et al., 2011",1,0,I,sNTX,12,1,79.000000,NaN,nmolBCE/l,-1.000000
12,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,47.200000,NaN,nmolBCE/l,-1.000000
13,"Kitaoka et al., 2011",1,0,I,sNTX,4,1,38.000000,NaN,nmolBCE/l,-1.000000
14,"Kitaoka et al., 2011",0,1,I,sNTX,4,1,58.500000,NaN,nmolBCE/l,-1.000000
15,"Kitaoka et al., 2011",1,0,I,sNTX,14,1,80.000000,NaN,nmolBCE/l,-1.000000
16,"Kitaoka et al., 2011",0,1,I,sNTX,13,1,36.600000,NaN,nmolBCE/l,-1.000000
17,"Kitaoka et al., 2011",1,0,I,sNTX,1,1,66.600000,NaN,nmolBCE/l,-1.000000
18,"Kitaoka et al., 2011",7,6,I & IV,sNTX,6.5,13,60.900000,17.200000,nmolBCE/l,43.898782
19,"Kitaoka et al., 2011",0,1,IV,sNTX,1,1,47.800000,NaN,nmolBCE/l,-1.000000
20,"Kitaoka et al., 2011",1,0,IV,sNTX,6,1,46.500000,NaN,nmolBCE/l,-1.000000
21,"Kitaoka et al., 2011",0,1,IV,sNTX,0,1,92.000000,NaN,nmolBCE/l,-1.000000
22,"Hoyer-Kuhn et al., 2016",7,3,"I, IV not specify",sNTX,7,10,85.480000,39.560000,nmolBCE/l,2.943821
23,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
24,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
25,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
26,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
27,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
28,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
29,"Pressac et al., 2002",x,x,"I, III, IV",uCTX,<4,1,NaN,NaN,NaN,-1.000000
30,"Iwamoto et al., 2002",1,0,I,uDPD,58 y,1,7.400000,NaN,nmol/mmol Cr,-1.000000
31,"Hoyer-Kuhn et al., 2019",7,3,"I, III",uDPD,8.6,10,48.330000,17.970000,nmol/mmol Cr,65.394780
32,"Zacharin & Kanumakala, 2004",x,x,mild,uDPD,7.5,18,26.700000,13.500000,nmol/mmol Cr,36.257135
33,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,11.936440,NaN,nmol/mmol Cr,-1.000000
34,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,27.686218,NaN,nmol/mmol Cr,-1.000000
35,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.547360,NaN,nmol/mmol Cr,-1.000000
36,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,28.916131,NaN,nmol/mmol Cr,-1.000000
37,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,33.592638,NaN,nmol/mmol Cr,-1.000000
38,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,43.928367,NaN,nmol/mmol Cr,-1.000000
39,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,46.882590,NaN,nmol/mmol Cr,-1.000000
40,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,51.311899,NaN,nmol/mmol Cr,-1.000000
41,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,53.157782,NaN,nmol/mmol Cr,-1.000000
42,"Hoyer-Kuhn et al., 2016",x,x,"I, IV not specify",uDPD,7,1,57.955862,NaN,nmol/mmol Cr,-1.000000
43,"Asharani et al., 2012",x,x,XIII,uDPD,5 y,1,58.660000,NaN,nmol/mmol Cr,-1.000000
44,"Asharani et al., 2012",x,x,XIII,uDPD,1.9 y,1,63.900000,NaN,nmol/mmol Cr,-1.000000
45,Zacharin &Bateman 2002,x,x,OI,uDPD,7.61 (1.4-14.5 years),18,66.200000,6.700000,nmol/mmol Cr,64.807500
46,"Rauch et al., 2002",22,22,"I, III, or IV",uNTX,1.4 - 17.5 y,44,662.000000,291.000000,nmol/mmol Cr,456.714980
47,"Uehara et al., 2017",0,1,Ia,uNTX,42,1,19.300000,NaN,nmol/mmol Cr,-1.000000
48,"Uehara et al., 2017",0,1,Ia,uNTX,40,1,24.400000,NaN,nmol/mmol Cr,-1.000000
49,"Uehara et al., 2017",0,1,Ia,uNTX,14,1,32.900000,NaN,nmol/mmol Cr,-1.000000
50,"Iwamoto et al., 2002",1,0,I,uNTX,58 y,1,42.700000,NaN,nmol/mmol Cr,-1.000000

In [ ]:
# One Hot Encoding
df_ds_dummies = pd.get_dummies(df_sel.ds, prefix='ds')
df_method_dummies = pd.get_dummies(df_sel.method, prefix='method')

In [ ]:
df_sel.join(df_ds_dummies).join(df_method_dummies)

,cell,age,sex,ds,n,method,value,std_,ds_1,ds_2,...,ds_11,ds_13,ds_16,ds_17,method_1,method_2,method_3,method_5,method_6,method_7
0,2,2,1,9,1.0,1,0.465116,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2,2,1,10,1.0,1,0.395257,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,1,1,2,1.0,2,0.219020,0.0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,5,5,3,10,1.0,2,0.111111,0.0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,1,2,2,1.0,5,0.218750,0.0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1,5,3,9,1.0,7,0.290000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1
126,1,5,3,9,1.0,7,0.250000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1
127,1,5,3,10,1.0,7,0.210000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1
128,1,2,2,17,1.0,7,0.489200,0.0,0,0,...,0,0,0,1,0,0,0,0,0,1
129,1,2,2,10,1.0,7,0.305700,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Data selection

In [ ]:
df_train = df_sel[df_sel.std_ != 0]
df_train

    cell  age  sex  disease_severity     n  method     value      std_
29     1    2    3                 1   3.0     5.0  0.129901  0.008232
30     1    1    3                 2   5.0     5.0  0.260990  0.010024
31     1    5    3                 3  12.0     5.0  0.140198  0.009387
32     1    5    3                 4   3.0     5.0  0.121188  0.008290
33     1    1    3                10   2.0     5.0  0.189307  0.010765
34     1    4    3                10   8.0     5.0  0.123168  0.009716
35     5    2    3                 1   3.0     3.0  0.134257  0.010093
36     5    1    3                 2   5.0     3.0  0.271683  0.008441
37     5    5    3                 3  12.0     3.0  0.114455  0.008039
38     5    5    3                 4   3.0     3.0  0.152079  0.008120
39     5    1    3                10   2.0     3.0  0.190891  0.010308
40     5    4    3                10   8.0     3.0  0.124356  0.010725
56     1    2    3                10   3.0     7.0  0.250000  0.010420

In [ ]:
X = df_train[[
  'cell',
  'age',
  'sex',
  'ds',
  'n',
  'method',
  'value'
]]
X

    cell  age  sex  disease_severity     n  method     value
29     1    2    3                 1   3.0     5.0  0.129901
30     1    1    3                 2   5.0     5.0  0.260990
31     1    5    3                 3  12.0     5.0  0.140198
32     1    5    3                 4   3.0     5.0  0.121188
33     1    1    3                10   2.0     5.0  0.189307
34     1    4    3                10   8.0     5.0  0.123168
35     5    2    3                 1   3.0     3.0  0.134257
36     5    1    3                 2   5.0     3.0  0.271683
37     5    5    3                 3  12.0     3.0  0.114455
38     5    5    3                 4   3.0     3.0  0.152079
39     5    1    3                10   2.0     3.0  0.190891
40     5    4    3                10   8.0     3.0  0.124356
56     1    2    3                10   3.0     7.0  0.250000

In [ ]:
Y = df_train[['std_']]
Y

        std_
29  0.008232
30  0.010024
31  0.009387
32  0.008290
33  0.010765
34  0.009716
35  0.010093
36  0.008441
37  0.008039
38  0.008120
39  0.010308
40  0.010725
56  0.010420

# Linear regression

In [ ]:
from sklearn import linear_model

In [ ]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(X = X, y = Y)

LinearRegression()

In [ ]:
reg.coef_

array([[ 5.95473152e-05, -4.28878934e-04, -1.43385737e-17,
         1.63099163e-04,  7.51912881e-05,  1.68607207e-04,
        -4.21859858e-03]])

In [ ]:
reg.intercept_

array([0.00923588])

In [ ]:
df_test = df_sel[df_sel.std_ == 0]

In [ ]:
new_X = df_test[[
  'cell',
  'age',
  'sex',
  'ds',
  'n',
  'method',
  'value'
]]
new_X

     cell  age  sex  disease_severity    n  method     value
0       2    2    1                 9  1.0     1.0  0.465116
1       2    2    1                10  1.0     1.0  0.395257
2       3    1    1                 2  1.0     2.0  0.219020
3       5    5    3                10  1.0     2.0  0.111111
4       1    1    2                 2  1.0     5.0  0.218750
..    ...  ...  ...               ...  ...     ...       ...
125     1    5    3                 9  1.0     7.0  0.290000
126     1    5    3                 9  1.0     7.0  0.250000
127     1    5    3                10  1.0     7.0  0.210000
128     1    2    2                17  1.0     7.0  0.489200
129     1    2    2                10  1.0     7.0  0.305700

[111 rows x 7 columns]

In [ ]:
reg.predict(new_X)

array([[0.00824677],
       [0.00870457],
       [0.00880029],
       [0.00896388],
       [0.00918815],
       [0.0082664 ],
       [0.00840394],
       [0.01059926],
       [0.01045768],
       [0.01043063],
       [0.0088707 ],
       [0.00870637],
       [0.01067329],
       [0.01067032],
       [0.0092756 ],
       [0.00908048],
       [0.00941988],
       [0.00871329],
       [0.0089213 ],
       [0.00879086],
       [0.01049578],
       [0.00842353],
       [0.01036112],
       [0.0106986 ],
       [0.01052986],
       [0.00799376],
       [0.00868853],
       [0.00907086],
       [0.00911119],
       [0.00859227],
       [0.00997442],
       [0.00997442],
       [0.00763874],
       [0.00974506],
       [0.00889112],
       [0.00971083],
       [0.00973614],
       [0.00964231],
       [0.00651963],
       [0.00658033],
       [0.00687168],
       [0.00692024],
       [0.0069688 ],
       [0.00712257],
       [0.00878672],
       [0.0087422 ],
       [0.0085075 ],
       [0.00842252],
       [0.0082728 ],
       [0.00812712],
       [0.00798144],
       [0.00628334],
       [0.00759445],
       [0.00751352],
       [0.00738402],
       [0.00727072],
       [0.00722216],
       [0.00701174],
       [0.0069308 ],
       [0.00691866],
       [0.00664349],
       [0.00651805],
       [0.0064533 ],
       [0.00660831],
       [0.00762401],
       [0.00749047],
       [0.0074581 ],
       [0.00739335],
       [0.007276  ],
       [0.00724767],
       [0.00723553],
       [0.00722339],
       [0.00715865],
       [0.0069806 ],
       [0.00693608],
       [0.00692799],
       [0.00674185],
       [0.00834767],
       [0.00837195],
       [0.00839623],
       [0.00851358],
       [0.00853786],
       [0.00852572],
       [0.00847311],
       [0.00848525],
       [0.00844883],
       [0.00856214],
       [0.0086026 ],
       [0.00857833],
       [0.00870377],
       [0.00875233],
       [0.00904603],
       [0.00906291],
       [0.00920634],
       [0.00744035],
       [0.00900391],
       [0.00744035],
       [0.00901234],
       [0.01065614],
       [0.01048882],
       [0.01118477],
       [0.00904609],
       [0.00902653],
       [0.01011207],
       [0.00865097],
       [0.00839786],
       [0.00865097],
       [0.00881972],
       [0.00915156],
       [0.01040206],
       [0.01003448]])

- [ ] Separate healty from disease patients
- [ ] Normalize data; and after the prediction, denormalized it
- [ ] Simulate rows n > 1 into singletons
- [ ] Compare models based on the error metrics (or accuracy)
- [ ] Train-Test data analysis